@font-face {
  font-family: NanumM_R;
  src: ("../src/material/NanumMyeongjo-Regular.ttf");
}
@font-face {
  font-family: NanumM_B;
  src: ("../src/material/NanumMyeongjo-Bold.ttf");
}
@font-face {
  font-family: NanumM_EB;
  src: ("../src/material/NanumMyeongjo-ExtraBold.ttf");
}

.global {
  font-family: NanumM_R;
}
