@font-face {
  font-family: NanumM_R;
  src: ("../src/material/NanumMyeongjo-Regular.ttf");
}
@font-face {
  font-family: NanumM_B;
  src: ("../src/material/NanumMyeongjo-Bold.ttf");
}
@font-face {
  font-family: NanumM_EB;
  src: ("../src/material/NanumMyeongjo-ExtraBold.ttf");
}

.global {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-family: NanumM_R;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
  }
}
