.header {
  z-index: 1000;
  position: fixed;
  top: 0rem;
  height: 11rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  background-color: #ffff;

  img {
    width: 25rem;
    height: 10rem;
    @media screen and (max-width: 900px) {
      width: 10rem;
      height: 3rem;
    }
  }
}
.market-layout {
  width: 100%;
  margin-top: 20rem;
  @media screen and (max-width: 900px) {
    margin-top: 15rem;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  a {
    text-decoration: none;
    color: #8a9292b6;
  }
  h4 {
    color: #8a9292cb;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: rgba(5, 21, 21, 0.62);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33;
    margin: 16px 0 24px;
    @media screen and (max-width: 900px) {
      font-size: 14px;
    }

    .gray {
      margin-left: 10px;
      color: #8a9292cb;
      font-weight: 300;
    }
  }

  .table {
    border: 1px solid #e4e6e6;
    padding: 8px 30px;
    margin-bottom: 20rem;

    border-radius: 4px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contents {
      padding: 20px 0px 20px 0px;
      display: flex;
      flex-direction: row;

      align-items: center;
      justify-content: space-evenly;
      font-size: 16px;
      font-weight: 100;
      color: rgba(5, 21, 21, 0.575);

      .bolded {
        color: rgba(5, 21, 21, 0.62);
        //margin-left: 25px;
        padding-left: 25px;
        display: block;
        //justify-content: flex-end;

        font-weight: 400;
      }
    }
    .line {
      border-bottom: 1px solid #e4e6e6;
      width: 100%;
    }
  }
}
