.menu-overlay {
  .menus {
    display: none;
    @media screen and (min-width: 1025px) {
      position: fixed;
      width: 20%;
      top: 50%;
      left: 0%;
      display: flex;
      flex-direction: column;
      background-color: black;
      position: fixed;
    }
  }

  a {
    color: rgb(255, 255, 255);
  }

  .menu-button {
    display: none;
    @media screen and (max-width: 1024px) {
      margin-left: 7px;
      margin-top: 7px;
      height: 40px;
      width: 60px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: left;
      cursor: pointer;
      color: #fdd577;

      .line {
        background-color: #fdd577;
        transition: box-shadow 0.1s ease-out;
        height: 17%;
        width: 90%;
        border-radius: 100px;
      }

      .line:active {
        background-color: #ffffff;
        height: 15%;
        width: 80%;
        border-radius: 100px;
      }
    }
  }
}

.menuOverlay {
  //display: none;
  @media screen and (max-width: 1024px) {
    z-index: 1;
    position: relative !important;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.577);
    display: flex;
  }
}

.menu {
  //display: none;
  @media screen and (max-width: 1024px) {
    z-index: 1100;
    position: relative !important;
    margin-top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    border-radius: 10px;
    background-color: white;
    & > * {
      &:first-child {
        margin-top: 16px;
      }
      margin-left: 16px;
      margin-right: 16px;
    }

    .content {
      display: flex;
      flex-direction: column;

      margin-top: 30px;
      margin-bottom: 22px;

      a {
        font-weight: 650;
        padding: 8px;
        font-size: 16pt;
        color: #ffb300;

        &:hover {
          color: #a37200;
          border-radius: 10px;
        }
        &:active {
          color: #d7d7d7;
          border-radius: 10px;
        }
      }
    }

    .buttonWrap {
      margin: 0;
      margin-top: 8px;
      button {
        font-weight: 800;
        width: 100%;
        padding: 12px 0;
        border-radius: 0 0 10px 10px;
        background-color: #ffc53e;
        font-size: 13pt;
        color: white;
        border: 0;
        cursor: pointer;

        &:hover {
          background-color: #289be75b;
        }
        &:active {
          background-color: #289be75b;
        }
      }
    }
  }
}
